.field{
  top: 290px;
  left: 720px;
  z-index: 1;
  position: fixed;
}

.font{
  top: 5vw;
  left: 1vw;
  color: white;
  position: fixed;
  font-size: 5vw;
  font-family: block;
  border-width: 0px;
  -webkit-text-stroke: 0.2vw black;
}

.fieldborder{
  top: 280px;
  left: 710px;
  position: fixed;
  border-color: black;
  border-style: ridge;
  border-width: 10px;
  border-radius: 20px;
  box-shadow:
    0 0 0 25px #F5F1F2,
    0 0 0 35px #6E6E6E
}