@font-face {
    font-family: block;
    src: url('../../font.ttf');
}

#little-box
{
  background-color: #6694d5;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: 0px;
  margin: 40px 177px 0 177px;
  border-style: outset;
  border-width: 20px;
  border-color: #6694d5;
  border-radius: 5px;
}

/* .original-red{
    top: 100px;
    left: 100px;
    width: 32px;
    height: 32px;
    position: absolute;
    background: url('/blocksprites/original.png') -64px;
    transform:scale(1.5);
} */

.text{
    font-family: block;
}