#xp{
  top: 5.35vw;
  left: 9.25vw;
  font-size: 1.22vw;
  border-width: 1.3vw;
  -webkit-text-stroke: 0.1vw black;
}

.coin{
  top: 4.5vw;
  left: 10vw;
  width: 2.3vw;
  z-index: 3;
  position: fixed;
}

.link{
  top: 4.65vw;
  color: white;
  z-index: 0;
  position: fixed;
  font-size: 2.75vw;
  font-family: block;
  border-color: #1685d2;
  border-style: ridge;
  border-width: 1.3vw;
  -webkit-text-stroke: 3px black;
  background-color: #2BA6FF;
}

.link:hover{
  cursor: pointer;
  background-color: #eea600;
}

.link:active{
  background-color: #ff641a;
}

.logo{
  top: 2vw;
  right: 2.5%;
  width: 8vw;
  position: fixed;
}

#name{
  top: -2.1vw;
  left: 9.25vw;
  font-size: 2.1vw;
  -webkit-text-stroke: 0.13vw black;
}

.text{
  color: whitesmoke;
  z-index: 2;
  position: fixed;
  border-color: #1685d2;
  border-style: ridge;
  border-width: 1.3vw;
}

#coins{
  top: 2.5vw;
  left: 9.25vw;
  font-size: 1.3vw;
  -webkit-text-stroke: 0.1vw black;
}

#level{
  top: 5.35vw;
  left: 20vw;
  z-index: 2;
  font-size: 1.22vw;
  border-width: 1.3vw;
  -webkit-text-stroke: 0.1vw black;
}

#log{
  top: 0vw;
  right: 11vw;
}

#store{
  right: 11vw;
}

#games{
  right: 22.5vw;;
}

.avatar{
  top: 0px;
  left: 0px;
  width: 8vw;
  z-index: 1;
  position: fixed;
  border-color: #1685d2;
  border-style: ridge;
  border-width: 1.3vw;
}

#xp-bar{
  top: 7.8vw;
  left: 13.8vw;
  width: 6.2vw;
  height: 1.5vw;
  position: fixed;
  background-color: #b1daf7;
}

.backdrop{
  top: 0vw;
  left: 0vw;
  width: 97.5vw;
  height: 8vw;
  z-index: 1;
  position: fixed;
  border-color: #1685d2;
  border-style: ridge;
  border-width: 1.3vw;
  background-color: #38a0ea;
}