.header-text{
  color: rgb(245, 245, 245);
  position: fixed;
  font-family: block;
}

#header-avatar{
  top: 0.7vw;
  left: 0.7vw;
  width: 6vw;
  position: fixed;
  border-color: rgb(13, 80, 126);
  background-color: rgb(22, 133, 210);
  border-right-style: solid;
  border-right-width: 0.36vw;
}

#header-background{
  top: 0vw;
  left: 0vw;
  width: 98.6vw;
  height: 6vw;
  z-index: 1;
  position: fixed;
  border-color: rgb(22, 133, 210);
  border-width: 0.7vw;
  background-color: rgb(56, 160, 234);
  border-top-style: ridge;
  border-left-style: ridge;
  border-right-style: groove;
  border-bottom-style: groove;
}

#header-coin{
  top: 3.25vw;
  left: 7vw;
  width: 1.5vw;
  z-index: 3;
  position: fixed;
}

#header-coins{
  top: 1.5vw;
  left: 7vw;
  font-size: 1.4vw;
  border-color: rgb(13, 80, 126);
  border-style: solid;
  border-width: 0.35vw;
  padding-left: 0.1vw;
  background-color: rgb(22, 133, 210);
  border-left-style: none;
  -webkit-text-stroke: 0.13vw black;
  -webkit-text-stroke: 0.1vw black;
}

#header-logo{
  top: 0.7vw;
  right: 0.7%;
  width: 6.4vw;
  padding: 0.2vw;
  position: fixed;
  border-color: rgb(13, 80, 126);
  background-color: rgb(22, 133, 210);
  border-left-style: solid;
  border-left-width: 0.36vw;
}

#header-name{
  top: -1.15vw;
  left: 7vw;
  font-size: 1.85vw;
  border-color: rgb(13, 80, 126);
  border-style: solid;
  border-width: 0.35vw;
  background-color: rgb(22, 133, 210);
  border-top-style: none;
  border-left-style: none;
  -webkit-text-stroke: 0.13vw black;
}

#header-xp{
  top: 3.40vw;
  left: 7vw;
  font-size: 1.4vw;
  border-width: 1.3vw;
  border-color: rgb(13, 80, 126);
  border-style: solid;
  border-width: 0.35vw;
  background-color: rgb(22, 133, 210);
  border-left-style: none;
  border-bottom-style: none;
  -webkit-text-stroke: 0.1vw black;
}

.link{
  top: 4.65vw;
  color: white;
  z-index: 0;
  position: fixed;
  font-size: 2.75vw;
  font-family: block;
  border-color: #1685d2;
  border-style: ridge;
  border-width: 1.3vw;
  -webkit-text-stroke: 0.15vw black;
  background-color: #2BA6FF;
}

.link:hover{
  cursor: pointer;
  background-color: #eea600;
}

.link:active{
  background-color: #ff641a;
}

#level{
  top: 5.35vw;
  left: 19.6vw;
  z-index: 2;
  font-size: 1.22vw;
  border-width: 1.3vw;
  -webkit-text-stroke: 0.1vw black;
}

#log{
  top: 0vw;
  right: 11vw;
}

#store{
  right: 11vw;
}

#games{
  right: 22.4vw;;
}

#xp-bar{
  top: 7.8vw;
  left: 13.8vw;
  width: 5.8vw;
  height: 1.5vw;
  position: fixed;
  background-color: #b1daf7;
}